
@font-face {
    font-family: 'Minecraftia';
    src: url('../assets/Minecraftia-Regular.ttf') format('truetype');
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #262423;
  font-size: clamp(12px,2vh,30px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper{
  max-width: 100vw;
}

.footer-component{
  margin-top: auto;
}

.styless{
  text-decoration: none;
  color: inherit;
}


a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}


.router-link-exact-active {
  font-weight: bold;
}


p{
    font-size: larger;
    line-height: 2;
}

.list-element{
  text-align: left;
  line-height: 2;
}

.wrapped-image {
  float: right; 
  margin: 10px;
  width: 20%;
}





a {
  position: relative;
  color: #262423;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}


/* Global styles for all links */
a {
  position: relative;
  color: #262423;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #52a435; /* Green underline */
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.3s ease; 
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.content-subcontainer a {
  transition: none;  /* Disable all transitions */
  color: white;  /* Ensure the color is as intended */
  text-decoration: none;  /* Remove underline */
  font-weight: 100;
}

.content-subcontainer a::before,
.content-subcontainer a::after {
  transition: none;  /* Disable the transitions on these pseudo-elements as well */
}

.content-subcontainer a:hover::before,
.content-subcontainer a:hover::after {
  transform: none;  /* Disable the transform effect */
  width: 0; /* Ensure no width change happens */
  height: 0; /* Ensure no height change happens */
}


